{% extends 'base.html.twig' %}
{% block title %}Startseite - CouchRunGaming{% endblock %}

{% block body %}
    <div class="container">
        <aside class="sidebar">
            <h3>Player Records</h3>
            <div class="record">
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>
                            <a href="#">
                                {{ record.player }}{{ record.points }}{{ record.category.name }}{{ record.time ? record.time|date('Y-m-d H:i') : '' }}</a><br></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found.</td>
                    </tr>
                {% endfor %}
            </div>
            <!-- More player records can be added here -->
        </aside>
        <main class="main-content">
            {% include 'news/index.html.twig' %}
            <!-- More news items can be added here -->
        </main>
    </div>

{% endblock %}