{% extends 'base.html.twig' %}

{% block title %}Impress index{% endblock %}

{% block body %}
<div class="container">
    <h1>Impress</h1>
        {% for impress in impresses %}
            <p>
                {{ impress.content|raw }}
            </p>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
</div>
{% endblock %}
