<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('startpage') }}">
                <img style="height: 200px; width:200px;" src="{{ absolute_url(asset('images/crg_logo.png')) }}" class="logo" alt="Couch Run Gaming Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ user.username }}!</h1>
            <p class="block">
                Welcome to <strong>Couch Run Gaming</strong>, we can't wait to see you records and find a new gaming friend in you.<br>
                Please verify your email to play together !!!<br>
                Clicking the following link: <a href="{{ veriUrl }}">Click here</a><br>
            </p>
            <p>
                see you,<br>
                kind regards <br>
                Team from Couch Run Gaming <br>
            </p>
        </div>
    </div>
</div>
</body>
</html>