{% extends 'base.html.twig' %}

{% block title %}DataPrivacy index{% endblock %}

{% block body %}
<div class="container">
    <h1>DataPrivacy</h1>
    {% for data_privacy in data_privacies %}
        <p>
            {{ data_privacy.content|raw }}
        </p>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
